version: '3'

services:
  nginx:
    image: nginx
    restart: unless-stopped
    networks:
      - web
      - todolist-backend
    volumes:
      - {{ app_dir }}/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/application
    labels:
      - "traefik.backend=todolist-backend"
      - "traefik.frontend.rule=Host:{{ app_url }}"
      - "traefik.docker.network=web"
      - "traefik.enable=true"

  todolist-server:
    image: todolist-backend
    restart: unless-stopped
    networks:
      - todolist-backend
    volumes:
      - ./:/application
      - /etc/localtime:/etc/localtime:ro
      - {{ app_dir }}/storage/logs:/application/storage/logs

networks:
  web:
    external: true
  todolist-backend:
    external: true
